html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

a {
    text-decoration: none
}

/*相片*/
.App {
    padding-top: 28px;
}

.loading-msg {
    font-size: 20px;
    font-weight: 200;
    color: #666;
    width: 130px;
    margin: 0 auto;
}
#msg-app-loading{
    margin-top: 60px;
}
#msg-loading-more{
    text-decoration: none;
    display: block;
    margin-top: 10px;
}


.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.lay-left {
    background: #373c47;
    height: 100%;
    width: 20%;
    float: left;
}

.lay-right {
    background: #FFFFFF;
    height: 100%;
    width: 80%;
    float: left;
}
